$menu-width: 200px;
$menu-left-gutter: 80px;
$burger-bar-color: black;
$burger-button-dimension: $menu-left-gutter;


.burger-menu {
  background-color: transparent;
  &.container {
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: -$menu-width;
    width:  $menu-width + $menu-left-gutter;
    height: 100vh;
  }

  &.container.open {
    transition: 0.5s;
    left: 0;
  }

  .burger-button-container {
    width: 100%;
    text-align: right;
  }

}

.burger-menu.open {
  background-color: white;
}

// .burger-button {
//   z-index: 1;
//   width: $burger-button-dimension;
//   height: $burger-button-dimension;
//   position: absolute;
//   right: 0;
//   background-color: white;
// }

.burger-button {
  color: black;
  font-size: 1em;
}
.menu-children-container {
  margin-right: $menu-left-gutter;
  width: 100%;
}

.menu-children-container {
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-right: $menu-left-gutter;
  }
  li {
    padding: 1em auto;
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
    background-color: #ccc;
  }
  a, a:visited {
    color:black;
    text-decoration: none;
  }
}

// .burger-bars {
//   position: absolute;
//   height: 20%;
//   width: 100%;
//   top: 0px;
//   right: 0px;
//   opacity: 1;
//   background-color: $burger-bar-color;
// }

// .burger-bars.top {
//   top: 0%;
// }
// .burger-bars.middle {
//   top: 40%;
// }
// .burger-bars.bottom {
//   top: 80%;
// }


